/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
  }
  
  .sidebar .nav {
    margin-bottom: 20px;
  }
  
  .sidebar .nav-item {
    width: 100%;
  }
  
  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }
  
  .sidebar .nav-link {
    border-radius: 0;
  }
  
  .bg-faded{
      background-color: #f7f7f7;

  } 